.footer{
    background-color: rgb(188, 240, 129); 
    color:  rgb(13, 54, 1); 
    padding: 40px;
    margin: 0 auto 40px auto; 
    max-width: 660px; 
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center; 
    margin-top: 15rem;
}

.footer .centro h4{
    margin-bottom:1rem ;
}

.footer .centro{
    text-align: center;
}

.footer .centro p{
    font-size: 1.4rem;
}